@media (max-width: 600px) {
  /* Index CSS */

  body {
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .top-section {
    display: flex;
    justify-content: center;
  }
  .sub-heading,
  .or {
    display: flex;
    justify-content: center;
  }
  .mid-section button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    background-color: #3751ff;
    font-size: 1rem;
    letter-spacing: 0.08rem;
  }
  .mid-section a {
    text-decoration: none;
    color: #fff;
    background-color: #3751ff;
  }
  .mid-section {
    display: flex;
    flex-direction: column;
    height: 16em;
    justify-content: space-around;
  }
  .sign-in {
    /* font-size: 1.5em; */
    margin-left: 0.5em;
    text-decoration: none;
    color: #3751ff;
  }
  .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }
  .bottom-section h5 {
    font-size: 1.2rem;
  }

  /* healthcareManufacturer CSS */

  .hm-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .hm-top-section iframe {
    height: 50vh;
    width: 100%;
  }
  .hm-bottom-section {
    height: 52vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  .hm-category {
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;
    padding: 0.9rem 0.6rem;
    margin: 0.9rem;
    border-radius: 0.8rem;
  }
  .hm-c-item a {
    text-decoration: none;
    color: #000;
    padding: 0.4rem 1.2rem;
    border-radius: 0.8rem;
  }
  .mat a {
    background-color: #fff;
  }
  .hm-current-location {
    margin: 0rem 0.9rem;
  }
  .hm-sub-heading {
    font-size: 0.9rem;
  }
  .hm-searchInputField {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hm-searchInputField {
    margin: 0.6rem 0.9rem;
    border: none;
  }
  .select2-selection {
    border-radius: 2rem !important;
    background: #ffab1ec2 !important;
  }
  .select2-selection__choice {
    color: #fff;
    background-color: #1b1b1b !important;
  }
  .hm-top-location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0rem 0.9rem;
  }
  .top-loc-heading {
    color: rgb(79, 78, 78);
  }
  .hm-t-category {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .top-loc-heading {
    margin-bottom: 0.8rem;
  }
  .hm-t-item a {
    font-size: 0.8rem;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    background-color: #0d3f7a;
  }

  /* MapClick CSS */

  .mp-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .mp-top-section iframe {
    height: 30vh;
    width: 100%;
  }
  .mp-bottom-section {
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  .filter-icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.9rem;
  }
  .top-headline {
    margin: 0.5rem 0.9rem;
    display: flex;
    justify-content: center;
  }
  .top-headline h4 {
    margin: 0;
  }
  .map-list-items {
    border-bottom: 1px solid #ebebeb;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .map-list-items h4 {
    margin: 0.8rem 0rem;
  }
  .map-list-items p {
    margin: 0.5rem 0rem;
    font-size: 0.7rem;
  }
  .map-contact-card {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  /* Favourites CSS */

  .fav a {
    background-color: #fff;
  }
  .filter-icon {
    cursor: pointer;
  }

  /* Listing CSS */

  .list a {
    background-color: #fff;
  }
  .new-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .new-listing-btn {
    width: 10rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-color: #3751ff;
    border: none;
    color: white;
    padding: 0.9rem 1.8rem;
  }
  .listing-guide {
    padding: 0rem 0.9rem;
    text-align: justify;
  }
  .background-text {
    color: #9d9d9d;
    text-align: center;
  }

  /* Loader CSS */

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 11;
  }

  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

  /* Login Page */

  .login-mid-section {
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 16em;
    justify-content: space-around;
  }
  #login-button {
    color: #fff;
    background-color: #3751ff;
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  /* SignUp Page */

  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  .sign-up-sub-heading {
    text-align: center;
    font-size: 1.3rem;
  }

  /* pop-up css */

  .model-container {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 85%;
    background: #fff;
    position: fixed;
    top: 10%;
    left: 2%;
    padding: 1.2rem;
    box-shadow: 8px 8px 16px #cfcfcf, -8px -8px 16px #ececec;
    display: none;
    font-size: 0.9rem;
  }
  .model-container select {
    font-size: 0.8rem;
  }
  .fa {
    position: absolute;
    top: 1%;
    left: 91%;
    font-size: 2rem;
  }
  .model-container form input {
    margin-bottom: 0rem;
  }
  .model-container form label {
    line-height: 2rem;
  }
  .apply-button {
    color: #fff;
    background-color: #3751ff;
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .cancel-button {
    color: #1b1b1b;
    background-color: #fff;
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .fa {
    cursor: pointer;
  }
  .popup-container {
    display: flex;
    justify-content: space-around;
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .scale-down-center {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
}
